<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Fanfiction viewer</title>
    <link href="styles.css" rel="stylesheet">
</head>

<body>
    <div id="form">
        <p>Type:</p>
        <select name="" id="type">
            <option value="fanfiction">fanfiction.net</option>
            <option value="ao3">AO3</option>
        </select>
        <break></break>
        <p>Story ID:</p>
        <input type="text" id="id" placeholder="Story ID">
        <break></break>
        <p>Chapter:</p>
        <input type="text" id="chapter" placeholder="Chapter ID">
        <break></break>
        <button id="goto">Go to story</button>
    </div>
</body>
<script src="jquery.js"></script>
<script>
    $('#form > button#goto').on('click', function(){
        location.href = `${location.protocol}//${location.host}/url/${$('#type').val()}/${$('#id').val()}/${$('#chapter').val()}/`;
    });
</script>
</html>